node_modules
.pnpm-store
.DS_Store
*.pem
*.tsbuildinfo
.next
out
build
coverage
playwright-report
test-results
.vercel
.env
.env.local
.env.*.local
.turbo
*.log
.pnpm-debug.log*
supabase/.temp
supabase/.branches
.idea
.vscode/*
!.vscode/extensions.json
apps/web/next-env.d.ts
exports/*.zip
